@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hit II Pause</h1>
    <p class="lead">In-depth information and discussions about your favorite films, television shows, and sporting events.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Film</h2>
        <p>
            Our extensive database features information for all of your favorite films. Is The Godfather the greatest film of all time? What is in the briefcase in Pulp Fiction? Did Avengers: Endgame live up to the hype? Join the debate!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Television</h2>
        <p>Is Breaking Bad the best show ever made? Let's debate. Can't wait for your friends to catch up on Game of Thrones? Come discuss the final season with us!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sports</h2>
        <p>Are the Warriors the best team in NBA history or are they ruining the game? Is Cristiano Ronaldo the best soccer player in the world? Share your opinion here!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>